/* Анимация увеличения сердца при лайке */

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: like-with-scale 0.3s ease-in 0.1s;
}

@keyframes like-with-scale {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.5;
  }
}

/* Анимация появления искр на иконке сердца при лайке */

.like-icon.is-liked .sparks {
  animation: like-with-sparks 0.3s ease-in 0.3s;
}

@keyframes like-with-sparks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}