/* /* Анимация стрелки рядом с кнопкой выбора темы */

@keyframes arrow-pulse {
  0% {
    left: -16px;
  }

  100% {
    left: -12px;
  }
}

/* Анимация увеличения сердца при лайке */

@keyframes like-with-scale {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.5;
  }
}

/* Анимация появления искр на иконке сердца при лайке */

@keyframes like-with-sparks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
