/* Анимация стрелки рядом с кнопкой выбора темы */

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -16px;
  animation: arrow-pulse 1s ease-in-out infinite;
}

@keyframes arrow-pulse {
  0% {
    left: -16px;
  }

  50% {
    left: -12px;
  }

  100% {
    left: -16px;
  }
}

/* Анимация увеличения сердца при лайке */

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: like-with-scale 0.3s ease-in 0.1s;
}

@keyframes like-with-scale {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}

/* Анимация появления искр на иконке сердца при лайке */

.like-icon.is-liked .sparks {
  animation: like-with-sparks 0.3s ease-in 0.3s;
}

@keyframes like-with-sparks {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}